/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 Mar 2023, 8:25:23 am
    Author     : zheng
*/

@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Tilt Neon';
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/signup_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 730px;
    overflow: hidden;
}

.container{
    position: absolute;
    width: 50%;
}

.heading{
    display: flex;
    align-items: center;
}

.back-btn{
    margin-right: 20px;
    background-color: transparent;
    border: none;
    padding-bottom: 25px;
    display: none;
}

.back-btn a{
    font-size: 40px;
    color: #38FFFC;
    text-decoration: none;
}

.container .heading h1{
    margin: 0;
    color: #fff;
    font-family: 'Nunito Sans';
    font-size: 38px;
    font-weight: bolder;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 20px;
}

.container p{
    color: #fff;
    font: 20px 'Nunito Sans';
    margin-bottom: 100px;
}

.psd-reset label{
    position: relative;
    height: 100%;
    bottom: 35px;
    left: 0;
    color: darkgray;
    font-size: 18px;
    cursor: text;
    transition-duration: 0.4s;
}

.psd-reset input{
    font-size: 18px;
    width: 100%;
    padding-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 3px solid #38FFFC;
    color: #fff;
    background: transparent;    
}

span.star{
    position: absolute;
    color: red;
    font-size: 10px;
    transition-duration: 0.1s;
}

#error_message_2{
    font-size: 17px;
    position: absolute;
    top: 270px;
    color: red;
}

/* animation */
.psd-reset input:focus ~ label,
.psd-reset input:valid ~ label{
    bottom: 65px;
    font-size: 16px;
}

.psd-reset input:focus ~ label .star,
.psd-reset input:valid ~ label .star{
    color: transparent;
}

/* submit button */
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.submit-btn div{
    flex-basis: 48%;
}

/* BACK to sign in button*/
.submit-btn a{
    color: #38FFFC;
    text-decoration: none;
    padding: 7px 32px;
    font: bolder 23px Poppins;
    letter-spacing: 1px;
    border: none;
    border-radius: 8px;
    background-color: #000;
    border: 1px solid #38FFFC;
    cursor: pointer;
    transition-duration: 0.5s;
}

.submit-btn a:hover{
    color: #000;
    background-color: #38FFFC;
    border: 1px solid #000;
}

/* CONTINUE to reset button */
.submit-btn input{
    padding: 7px 32px;
    color: #000;
    font: bolder 23px Poppins;
    letter-spacing: 1px;
    border: 1px solid #38FFFC;
    border-radius: 8px;
    background-color: #38FFFC;
    cursor: pointer;
    margin-top: 50px;    
    margin-bottom: 50px;
    transition-duration: 0.5s;
}

.submit-btn input:hover{
    background-color: #000;
    color: #38FFFC;
}

.submit-btn input:active{
    transform: scale(0.98);
}

/* Media Screen */
@media screen and (max-width: 1246px) {  
    .container{
        width: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .container .heading h1{
        font-size: 33px;
    }
    
    .container p{
        font-size: 17px;
    }
    
    .submit-btn a, .submit-btn input{
        font-size: 20px;
    }
}

@media screen and (max-width: 960px){    
    .submit-btn, .back-btn{
        display: block;
    }
    
    .submit-btn a{
        display: none;
    }
    
    .submit-btn input{
        position: relative;
        left: 0;
    }
}

@media screen and (max-width: 763px){
    .container .heading h1{
        font-size: 30px;
    }
    
    .container p{
        font-size: 16px;
    }
    
    #error_message_2{
        font-size: 17px;
    }
    
    .submit-btn input{
        padding: 9px 32px;
        font-size: 18px;
    }
}

@media screen and (max-width: 564px){
    .back-btn{
        display: none;
    }
    
    .container .heading h1{
        font-size: 25px;
    }
    
    .container p{
        font-size: 12px;
    }
    
    #error_message_2{
        font-size: 13px;
    }
    
    .psd-reset label, .psd-reset input{
        font-size: 15px;
    }
    
    span.star{
        font-size: 7px;
    }
    
    .psd-reset input:focus ~ label,
    .psd-reset input:valid ~ label{
        bottom: 55px;
        font-size: 13px;
    }
    
    .submit-btn input{
        font-size: 15px;
    }
}

@media screen and (max-width: 377px){
    .container .heading h1{
        font-size: 20px;
    }
}