/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 6, 2023, 12:39:34 AM
    Author     : USER
*/

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Oswald:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;900&family=Roboto:wght@500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #222827;
}

#main{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    margin: 0px;
    margin-left: 28px;
    font-weight: bold;
    color: gold;
    margin-bottom: 30px;
    font-size: 46px;
}

.logo span {
    color: gold;
    font-size: 46px;
}

.sidebar{ 
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2d353c;
    overflow: hidden;
    transform: 0.5s;
    padding-top: 30px;
}

.sidebar a{
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #8b8989;
    display: block;
    transform: 0.5s;
}

.sidebar a:hover{
    color: rgb(240, 240, 240);
    background-color: rgb(79, 76, 76);
}

#main{
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
}

.head{
    padding: 20px;
}

.col-div-6{
    width: 50%;
    float: left;
}

.dashboard {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.profile{
    display: inline;
    float: right;
    width: 200px;
    margin-bottom: 14px;
}

.profile p{
    color: white;
    font-weight: 500;
    margin-left: 55px;
    margin-top: 10px; 
    font-size: 18.5px ;
}

.profile p span{
    font-weight: 400;
    font-size: 15px;
    display: block;
    color: rgb(210, 209, 210); 
}

.pro-img{
    float: left;
    width: 50px;
    margin-top: 0px;
}

.nav2{
    display: none;
}

.col-div-3{
    width: 25%;
    float: left;
}

.box{
    width: 85%;
    height: 100px;
    background-color: #2d353c;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.box p{
    font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}

.box p span{
    font-size: 20px;
    font-weight: 400;
    color: #e7e1e1;
}

.box-icon{
    font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #b1b7ae;
    padding-right: 10px;
}

.col-div-8{
    width: 103%;
    float: left;
}

.col-div-4{
    width: 30%;
    float: left;
}

.content-box{
    padding: 20px;
}

.heading{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, minmax(230px, auto));
}

.content-box .heading p {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    margin-top: 35px;
    margin-left: 37px;
    font-size: 35px;
    color: #adb5bd;
    font-weight: 400;
    display: flex;
}

.heading div{
    margin-top: 42px;
}

.form-inline{
    font-family: 'Poppins', sans-serif;
    margin-top: 35px;
}

.box-8, .box-4{
    width: 96.5%;
    background-color:#2d353c ;
    height: 640px;
    border-radius: 5px;
    overflow:auto ;
}

::-webkit-scrollbar{
    display:none;
 }

.box-8{
    margin-left: 10px;
    width: 95%;
}

.container{
    max-width: 1250px;
}

.row{
    font-family: 'Poppins', sans-serif;
    margin-top: -25px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, auto));
}

.card-container{
    margin-left: 40px;
    margin-top: 70px;
}

.card{
    border: none;
    color: #fff;
}

.card-title{
    font-size: 20px;
}

.card-body{
    background-color: #2d353c;
}

.card-body #btn-1{
    color: #fff;
    background-color: #123d64;
    text-decoration: none;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-body #btn-1:hover{
    background-color: #1c3851;
}

.card-body #btn-2, .card-body #btn-3{
    width: 48%;
}

.card-body #btn-3{
    background-color: #468dcb;
}

/* Genre List */
.add-class{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-box{
    width: 93.5%;
    height: 200px;
    border: 5px dashed gray;
}

#add-genre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: transparent;
}

.bx{
    color: gray;
    font-size: 70px;
    transition-duration: 0.5s;
}

#add-genre:hover .bx{
    color: white;
}

.jumbotron {
    display: none;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50%;
    z-index: 100;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.table{
    font-family: 'Poppins', sans-serif;
}

.swal2-popup{
    font-family: 'Poppins', sans-serif;
}

.swal2-cancel{
    margin-right: 20px;
}

/* Sidebar */
#sidebar{
    width: 70px;
}

#main{
    margin-left:70px;
}

.logo{
    visibility: hidden;
}

.logo span{
    visibility: visible;
    margin-left:-10px;
}

.icon-a{
    visibility: hidden;
}

.icons{
    visibility: visible;
    margin-left: -8px
}

.nav{
    display:none;
   
}

.nav2{
     display:block;
}

sidebar{
    width: 70px;
}