/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 6, 2023, 12:39:34 AM
    Author     : USER
*/

body{
  margin: 0px;
  padding: 0px;
  background-color: #6c757d;
  overflow: hidden;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.clearfix{
   clear: both;
}

.logo{
  margin: 0px;
  margin-left: 28px;
  font-weight: bold;
  color: gold;
  margin-bottom: 30px;
  font-size: 46px;
}

.logo span {
  color: gold;
  font-size: 46px;
}

.sidebar{ 
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2d353c;
  overflow: hidden;
  transform: 0.5s;
  padding-top: 5px;
}
.sidebar a{
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #8b8989;
  display: block;
  transform: 0.3s;
}

.sidebar a:hover{
  color: rgb(240, 240, 240);
  background-color: rgb(79, 76, 76);
}

#main{
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
}
.head{
  padding: 20px;
}
.col-div-6{
  width: 50%;
  float: left;
}

.profile{
  display: inline;
  float: right;
  width: 200px;
  margin-bottom: 14px;
}

.profile p{
  color: white;
  font-weight: 500;
  margin-left: 55px;
  margin-top: 10px; 
  font-size: 13.5px ;
}
.profile p span{
  font-weight: 400;
  font-size: 12px;
  display: block;
  color: rgb(210, 209, 210);
}
.pro-img{
  float: left;
  width: 40px;
  margin-top: 5px;
}
.nav2{
  display: none;
}

.col-div-3{
  width: 25%;
  float: left;
}
.box{
  width: 85%;
  height: 100px;
  background-color: #2d353c;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.box p{
  font-size: 35px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  padding-left: 10px;
  margin-top: 20px;
  display: inline-block;
}

.box p span{
  font-size: 20px;
  font-weight: 400;
  color: #e7e1e1;

}

.box-icon{
  font-size: 40px!important;
  float: right;
  margin-top: 35px!important;
  color: #b1b7ae;
  padding-right: 10px;
}

.col-div-8{
  margin-left: 180px;
  width: 70%;
  float: left;
}

.col-div-4{
  width: 30%;
  float: left;
}

.content-box{
  padding: 20px;
  margin-bottom: 30px; 
 
}
.content-box p {
  margin: 0px;
  font-size: 20px;
  color: #adb5bd;
 font-weight: 400;
}
.content-box p span{
  float: right;
  background-color: #00acac;
  color: #fff;
  padding: 3px 10px;
  font-size: 15px;
  border-radius: 2px;
}

.box-8, .box-4{
  width: 96.5%;
  background-color:#2d353c ;
  height: 570px;
  border-radius: 5px;
  overflow: auto;
}
::-webkit-scrollbar{
      display:none;
  }


.box-8{
  margin-left: 10px;
  width: 95%;
}
table{
  border-collapse: collapse ;
  width: 100%;
}

td,th{
  text-align: left ;
  padding: 15px;
  color: #ddd;
  border-bottom: 1px solid #818181;
}

.circle-wrap{
  margin:50px auto;
  width: 150px;
  height: 150px; 
  background-color: rgb(73, 182, 214);
  border-radius: 50%;
}

.circle-wrap .circle .mask ,
.circle-wrap .circle .fill{
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask{
  clip: rect(0px,150px,150px,75px);
}

.circle-wrap .circle .mask .fill{
  clip: rect(0px,75px,150px,0px);
  background-color: rgb(36, 123, 204);
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill{
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill{
  0%{
    transform:rotate(0deg);
  }

  100%{
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100; 
  font-weight: 700;
  font-size: 2em;
}

#g1{
  color: #8753de;
}
#g2{
    color: #49b6d6;
}
#g3{
  color: #ff5b57;
}
#g4{
  color: #f59c1a;
}

.btn{
    float: right;
}
label{
    color:#dde0d5;
}
a{
    text-decoration: none;
}
#sidebar{
    width: 70px;
    
}
#main{
    margin-left:70px;
}
.logo{
    visibility: hidden;
}
.logo span{
    visibility: visible;
    margin-left:-10px;
}

.icon-a{
    visibility: hidden;
}

.icons{
    visibility: visible;
    margin-left: -8px
}

.nav{
    display:none;
   
}

.nav2{
     display:block;
}

sidebar{
    width: 70px;
}