/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 May 2023, 10:35:27 pm
    Author     : zheng
*/

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Oswald:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;900&family=Roboto:wght@500;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;  
}

html::-webkit-scrollbar{
    width: 0.5rem;
    background-color: #020307; 
}

html::-webkit-scrollbar-thumb{
    background-color: #38FFFC;
    border-radius: 5rem;
}

body{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/signup_background.png');
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 155vh;
    color: #38FFFC;
}

.update-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    top: 100px;
    color: #38FFFC;
}

.update-profile form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 5px solid #38FFFC;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1); 
    text-align: center;
    width: 70%;
    border-radius: 5px;
}

.update-profile form img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
}

.headshot-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 40px;
    background-color: #dc3545;
    color: #fff;
    font-size: 50px;
}

.update-profile form table{
    margin-left: 60px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}

.update-profile form table td{
    padding-bottom: 70px;
}

.update-profile form td span{
    font-size: 16px;
    color: #fff;
}

.update-profile form td input, .custom-file-label{
    padding-bottom: 8px;
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #38fffc;
    font-size: 15px;
    color: #38FFFC;
    border-radius: 0;
    padding-left: 0;
}

.custom-file-label::after {
    font-weight: bold;
    color: #000;
    content: "Choose Image";
    background-color: #38FFFC;
    border-radius: 0;
}

.error{
    font-size: 14px;
    color: red;
    position: absolute;
    width: 35%;
}

#error-message-1{
    top: 325px;
}

#error-message-2{
    font-size: 14px;
    color: red;
    position: absolute;
    top: 45px;
}

#error-message-3{
    top: 645px;
}

#error-message-4{
    top: 748px;
}

#error-message-5{
    top: 853px;
}

.update-btn{
    font-weight: bold;
    color: #000;
    background-color: #38FFFC;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #38FFFC;
    transition-duration: 0.5s;
}

.back-btn{
    font-weight: bold;
    color: #38FFFC;
    background-color: transparent;
    padding: 9px 15px;
    border-radius: 5px;
    border: 1px solid #38FFFC;
    margin-right: 10px;
    transition-duration: 0.5s;
}

.update-btn:hover{
    color: #38FFFC;
    background-color: transparent;
}

.back-btn:hover{
    color: #000;
    background-color: #38FFFC;
}

a{
    text-decoration: none !important;
}